.header-container{
    display: flex;
    font:  normal bold 22px/25px Montserrat;
    align-items: center; 
    margin-left: 100px;
    padding: 10px; 
}
header{
    background-color: #ffffff;
}
.text{
    display: flex;
    flex-direction: column;
    color: #42515F;
}
.emp{
    color: #83d21bf1;
}
.form{
    background-color: #ffffff;
    width:60%;
    margin: 10px auto;
}
body{
   background-color:#F7F7F7;
   height:50px;
}
.title{
    color: #42515F;
    padding-left: 73px;
    padding-top: 10px;
}
.elements{
    display: flex;
    padding: 10px;
    align-items: center; 
    margin-left: 50px;
}
.space{
    display: flex;
    flex-wrap: wrap;
}
#name{
    width: 495px;
    height: 25px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD; 
    margin-left: 30px;
}
.Image{
    display: flex;
    margin-left: 25px;
}
img
{
    width: 45px;
    height: 45px;
    padding-left: 10px;   
}
label
{
    width: 20%;
    margin-left: 15px;
    color: #42515F;
    font: normal normal 18px/24px Roboto;
}
p{
    color: #42515F;
    font: normal normal  18px/24px Roboto;
    margin-left: 15px;
}
option,select{
    color: #42515F;
    font: normal normal 18px/24px Roboto;
}
.StartDate
{
    display: flex;
    width: 20%;
    margin-left: 10px;
}
.Salary{
    width: 340px;
    height: 30px;
    margin-left: 30px;
    background: #FFFFFF ;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
}
.Date
{
    width: 100px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    text-align: center;
    margin-left: 20px;
}
#notes
{
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    width: 500px;
    margin-left: 30px;
}
a, .submit, .reset
{
    font: normal  18px/22px Roboto;
    color: #42515F;
    border: 1px solid #BDBDBD;
    padding: 8px 16px;
    background: #E2E2E2;
    width: 80px;
    text-align: center;
    border-radius: 3px;
}
.buttons
{
    width: 605px;
    text-align: right;
}
.submit, .reset
{
    margin: 10px;
}
a{
    margin-left:15px;
}

