<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/DashBoard.css">
    <link rel="shortcut icon" href="../Assets/icons/logo.png" type="image/x-icon">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="../Scripts/Dashboard.js"></script>
    <title>DashBoard</title>
</head>

<body>
    <header>
        <div class="header-container">
            <img src="../Assets/icons/logo.png" alt="logo">
            <div class="text">
                <span class="emp">EMPLOYEE</span>
                <span>PAYROLL</span>
            </div>
        </div>
    </header>
    <div class="main-content">
        <div class="header-content sub-main-content">
            <div class="emp-details-text">
                Employee Details
            </div>
            <div onclick="location.href='./employeeform.html'" class="add-button">
                <div class="plus-icon">
                    <img src="../assets/icons/add-24px.svg" alt="Add user logo">
                </div>
                <div>Add User</div>
            </div>
        </div>
        <div class="table-main">
            <table id="display" class="table">
                <thead>
                    <tr class="head">
                     <th>Profile</th>
                      <th>Name</th>
                      <th>Gender</th>
                      <th>Department</th>
                      <th>Salary</th>
                      <th>Start Date</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
        </div>
    </div>
</body>

</html>