<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/EmployeeForm.css">
    <link rel="shortcut icon" href="../Assets/icons/logo.png" type="image/x-icon">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="../Scripts/EmployeeData.js"></script>
    <script src="../Scripts/Updateform.js"></script>
    <title>Employee Payroll</title>
</head>

<body>
    <header>
        <div class="header-container">
            <img src="../Assets/icons/logo.png" alt="logo">
            <div class="text">
                <span class="emp">EMPLOYEE</span>
                <span>PAYROLL</span>
            </div>
        </div>
    </header>
    <div class="form">
        <div class="title">
            <h2>Employee Payroll Form </h2>
        </div>
        <div class="elements">
            <label for="name" class="label">Name</label>
            <input type="text" id="name">
        </div>
        <div class="elements">
            <label for="name" id="profile-images" class="label">Profile Image</label>
            <div class="space">
                <div class="Image">
                    <input id="pic1" type="radio" name="Profile" value="../Assets/profile-images/Pic-1.png">
                    <img src="../Assets/profile-images/Pic-1.png" alt="">
                </div>
                <div class="Image">
                    <input id="pic2" type="radio" name="Profile" value="../Assets/profile-images/Pic-2.png">
                    <img src="../Assets/profile-images/Pic-2.png" alt="">
                </div>
                <div class="Image">
                    <input id="pic3" type="radio" name="Profile" value="../Assets/profile-images/Pic-3.png">
                    <img src="../Assets/profile-images/Pic-3.png" alt="">
                </div>
                <div class="Image">
                    <input id="pic4" type="radio" name="Profile" value="../Assets/profile-images/Pic-4.png">
                    <img src="../Assets/profile-images/Pic-4.png" alt="">
                </div>
                <div class="Image">
                    <input id="pic5" type="radio" name="Profile" value="../Assets/profile-images/Pic-5.png">
                    <img src="../Assets/profile-images/Pic-5.png" alt="">
                </div>
            </div>
        </div>
        <div class="elements">
            <label for="name" id="gender" class="label">Gender</label>
            <div class="space">
                <div class="Image">
                    <input type="radio" id="male" name="gender" value="Male">
                    <label class="text" for="male">Male</label>
                </div>
                <div class="Image">
                    <input type="radio" id="female" name="gender" value="Female">
                    <label class="text" for="female">Female</label>
                </div>
            </div>
        </div>
        <div class="elements">
            <label for="name" id="department" class="label">Department</label>
            <div class="space">
                <div class="Image">
                    <input id="hr" type="checkbox" name="dept" value="HR" class="checkbox">
                    <p>HR</p>
                </div>
                <div class="Image">
                    <input id="sales" type="checkbox" name="dept" value="Sales" class="checkbox">
                    <p>Sales</p>
                </div>
                <div class="Image">
                    <input id="finance" type="checkbox" name="dept" value="Finance" class="checkbox">
                    <p>Finance</p>
                </div>
                <div class="Image">
                    <input id="engineer" type="checkbox" name="dept" value="Engineer" class="checkbox">
                    <p>Engineer</p>
                </div>
                <div class="Image">
                    <input id="others" type="checkbox" name="dept" value="Others" class="checkbox">
                    <p>Others</p>
                </div>
            </div>
        </div>
        <div class="elements">
            <label for="range" class="label">Salary </label>
            <div>
                <select name="salary" id="salary" class="Salary">
                    <option value="" disabled selected>Select Salary</option>
                    <option value="25000">25000</option>
                    <option value="30000">30000</option>
                    <option value="35000">35000</option>
                    <option value="40000">40000</option>
                    <option value="45000">45000</option>
                    <option value="50000">50000</option>
                </select>
            </div>
        </div>
        <div class="elements">
            <label for="range" id="date" class="label">Start Date </label>
            <div class="StartDate">
                <div>
                    <select name="Day" id="Day" class="Date">
                        <option value="" disabled selected>Day</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select>
                </div>
                <div>
                    <select name="Month" id="Month" class="Date">
                        <option value="" disabled selected>Month</option>
                        <option value="Jan">January</option>
                        <option value="Feb">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="Aug">August</option>
                        <option value="Sep">September</option>
                        <option value="Oct">October</option>
                        <option value="Nov">November</option>
                        <option value="Dec">December</option>
                    </select>
                </div>

                <div>
                    <select name="Year" id="Year" class="Date">
                        <option value="" disabled selected>Year</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="elements">
            <label for="notes" class="label">Notes</label>
            <textarea id="notes" name="notes" rows="4" cols="50"></textarea>
        </div>
        <div class="elements">
            <a href="../templates/DashBoard.html">Cancel</a>
            <div class="buttons">
                <button type="button" onclick="SubmitForm()" class="submit">Submit</button>
                <button type="button" class="submit">Reset</button>
            </div>
        </div>
    </div>
</body>

</html>